* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.container {
  width: 75vw;
  height: 78vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 60px;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 20px 0 20px;
}

.box1 {
  width: 17vw;
  height: 55vh;
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.box1-content {
  padding-top: 20px;
  padding-left: 17px;
}
.box1-content img {
  padding-bottom: 20px;
}
.box1-content h3 {
  color: white;
  font-size: 25px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  padding-bottom: 20px;
}
.box1-content p {
  color: white;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-bottom: 50px;
  max-width: 400px;
  line-height: 1.5;
}
.box1-content button {
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  padding: 8px 20px 8px 20px;
}
.box1-content button a {
  text-decoration: none;
  color: hsl(31, 77%, 52%);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.box2 {
  width: 17vw;
  height: 55vh;
  background-color: hsl(184, 100%, 22%);
}
.box2-content {
  padding-top: 20px;
  padding-left: 17px;
}
.box2-content img {
  padding-bottom: 20px;
}
.box2-content h3 {
  color: white;
  font-size: 25px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  padding-bottom: 20px;
}
.box2-content p {
  color: white;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-bottom: 50px;
  max-width: 400px;
  line-height: 1.5;
}
.box2-content button {
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  padding: 8px 20px 8px 20px;
}
.box2-content button a {
  text-decoration: none;
  color: hsl(184, 100%, 22%);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.box3 {
  width: 17vw;
  height: 55vh;
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.box3-content {
  padding-top: 20px;
  padding-left: 17px;
}
.box3-content img {
  padding-bottom: 20px;
}
.box3-content h3 {
  color: white;
  font-size: 25px;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  padding-bottom: 20px;
}
.box3-content p {
  color: white;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-bottom: 50px;
  max-width: 400px;
  line-height: 1.5;
}
.box3-content button {
  border: 2px solid white;
  border-radius: 20px;
  background-color: white;
  padding: 8px 20px 5px 20px;
}
.box3-content button a {
  text-decoration: none;
  color: hsl(179, 100%, 13%);
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.btn {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.btn button {
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    background-color: white;
    
}
.btn button a {
    text-decoration: none;
    color: black; 
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;


}

/*style of css grid*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
}
.grid-container {
  width: 75vw;
  height: 78vh;
  background-color: black;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(4, 20%);
  grid-template-areas:
    "a a a b"
    "a a a b"
    "c c d d"
    "c c e e";
  gap: 10px;
}

.d1 {
  background-color: red;
  grid-area: a;
}
.d2 {
  background-color: yellow;
  grid-area: b;
}
.d3 {
  background-color: green;
  grid-area: c;
}
.d4 {
  background-color: blue;
  grid-area: d;
}
.d5 {
  background-color: rgba(0, 0, 255, 0.993);
  grid-area: e;
}
